/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

:root {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    ;
    font-size: 12px;
    font-weight: 700;
    color: #A3A3A3;
}



.btn {
    margin-right: 10px;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

.small-img {
    width: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
}

#small-logo {
    display: none;
    width: 25px;
    margin-top: 5px;
}

/* .subtitle {
    mar-top: 25px;
} */

/* UL list setting */
ul {
    list-style-type: none;
    /* padding-left: 15px; */
    font-size: 1.2rem;
    margin-top: 10px;
    width: 80%;
}

li {
    margin-top: 2rem;
}

.plus-square {
    background-color: #A3A3A3;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    color: #000000;
    margin-right: 15px;
}

.list-scroll h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 20px;
}

/* HOVER */

a:hover,
li:hover,
.installer:hover {
    color: #fff;
}

.new-play:hover i {
    background-color: #fff;
}

.btn:hover {
    font-size: 1.1rem;
}

.col .play-btn {
    display: none;

}

.hover-img:hover img {
    /* opacity: 0.5; */
    cursor: pointer;
    filter: opacity(0.5);
}

.col-hov {
    position: relative;
}

.hover-img:hover .play-btn {
    display: block;
    font-size: 5rem;
    position: absolute;
    /* width: 40px;
    height: 40px; */
    margin: 0;
    top: calc(50% - 35px);
    left: calc(50% - 30px);
    /* transform: translate(-25px, -25px); */
}

.album-info:hover .subtitle {
    text-decoration: underline;
    color: #fff;
}

.media:hover .play-btn{
    font-size: 3.1rem;
}
/* footer line */
.line {
    border-bottom: 3px solid gray;
    border-radius: 10px;
    width: 60%;
    overflow: hidden;
}

.small-line {
    border-bottom: 3px solid#dfdfdf;
    border-radius: 10px;
    width: 30%;
}

/* .big-line {
    width: 20%;
    border-bottom: 3px solid#dfdfdf;
} */

/* Reset btn - a */

a {
    text-decoration: none;
    color: currentColor;
}

/* Main */

.container {
    display: flex;
    height: 100%;

}

/* navbar */

#logo {
    max-width: 70%;
    margin: 1.5rem 0;
}

#navbar {
    height: calc(100vh - 90px);
    width: 250px;
    background-color: #000000;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist {
    overflow-y: auto;
    height: 40vh;
}

.down-img {
    width: 15px;
}

.download {
    margin: 10px 0;
}

.user-img {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    margin: 1rem 0;
}

.user {
    color: #fff;
    font-size: 1.5rem;
    border-top: 1px solid gray;
    margin-right: 20px;
}

#navbar li,
.pointer {
    cursor: pointer;
}

/* Section music */

#music {
    display: flex;
    width: calc(100vw - 250px);
}

/* banner */
.banner {
    position: fixed;
    top: 0;
    height: 90px;
    width: calc(100vw - 250px);
    text-align: right;
    align-content: center;
    /* debug */
    background-color: #080b12b4;
}

.library {
    padding: 0 20px;
    padding-top: 90px;
    height: calc(100vh - 90px);
    overflow-y: auto;
    background-color: #141922;
    width: 100%;
}

.select {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 15px;
    margin-bottom: 2rem;
}

.row {
    display: flex;
    gap: 10px;
}

.col {
    text-align: center;
    width: calc((100% / 6) - (50px / 6));
    margin: 30px 0;
}

.col img {
    max-width: 100%;
}

/* Footer */

#container-play {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
}

/* footer left */
.brano {
    width: 20%;
    flex-shrink: 2;
    display: flex;
}

.album img {
    width: 50px;
}

.album {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.album-info {
    margin-left: 1rem;
}

.album-icon {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.album-icon a {
    margin: 0 0.5rem;
}

.album .subtitle {
    font-size: 0.8rem;
}

/* footer center */
.play-bar {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    padding-top: 10px;
    flex-shrink: 3;
}

.media i {

    padding: 0 10px;

}

.play-btn {
    display: inline-block;
    margin: 0 0.8rem;
    color: #fff;
    font-size: 3rem;
    vertical-align: middle;
    /* bordo disegnato */
    /* border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 35px; */
}

.time-bar {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 0.8rem;
    margin: 0 1rem;
}

/* footer right */
.setting {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.icon-setting i {
    font-size: 1.3rem;
    margin-right: 0.8rem;
}

.try {
    background-color: #fff;
    color: #fff;
}

/* Tablet version */

@media screen and (max-width:880px) {
    .row {
        flex-wrap: wrap;
    }

    .col {
        width: calc((100% / 4) - (30px / 4));
    }

    .select {
        flex-wrap: wrap;
    }

    .album-icon {
        display: block;
        margin-top: 2rem;
    }

    .album img {
        max-width: 50px;
    }
}

/* Smartphone S version */

@media screen and (max-width:640px) {

    .col {
        width: calc(100% /2 - 10px);
    }


}

/* Smartphone XS version */

@media screen and (max-width:550px) {

    #navbar {
        width: 50px;
        padding-left: 0;
    }

    .top-nav {
        margin: 0 auto;
    }

    #small-logo {
        display: block;
        margin-bottom: 20px;
    }

    #music {
        width: calc(100vw - 50px);
    }

    .banner {
        width: calc(100vw - 50px);
    }

    .xs-none {
        display: none;
    }

    .download {
        text-align: center;
    }

    .user {
        text-align: center;
        margin: 0 auto;
        border: none;
    }

    .play-bar {
        width: 260px;
        flex-grow: 0;
        font-size: 1.2rem;
    }

    .album img {
        display: none;
    }
}