/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

:root {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif; ;
    font-size: 12px;
    font-weight: 700;
    color: #A3A3A3;
}



.btn {
    margin-right: 10px;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
}

h3 {
    padding-left: 5px;
    color: #fff;
}

.small-img {
    width: 25px;
    margin-right: 5px;
    vertical-align: middle;
}

/* UL list setting */
ul {
    list-style-type: none;
    /* padding-left: 15px; */
    font-size: 1.2rem;
    margin-top: 10px;
    width: 80%;
}

li {
    padding: 5px;
    margin-top: 10px;
}

.plus-square {
    background-color: #A3A3A3;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    color: #000000;
    margin-right: 15px;
}

/* Reset btn - a */

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    text-decoration: none;
    color: currentColor;
}
/* Main */

.container {
    display: flex;
    height: 100%;

}

/* navbar */

#logo {
    max-width: 70%;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 2rem;
}

#navbar {
    height: calc(100vh - 90px);
    width: 250px;
    background-color: #000000;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist{
    overflow-y: auto;
    height: 40vh;
}

.down-img {
    width: 15px;
}

.download {
    margin: 10px 0;
}

.user-img {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    margin: 1rem 0;
}

.user {
    color: #fff;
    font-size: 1.5rem;
    border-top: 1px solid gray;
}

#navbar li,
span {
    cursor: pointer;
}
/* HOVER NAV */

li:hover, .installer:hover {
    color: #fff;
}

.fa-solid:hover {
    background-color: #fff;
}
/* Section music */

#music {
    display: flex;
    /* debug */
     width: calc(100vw - 250px);
}

/* banner */
.banner {
    position: fixed;
    top: 0;
    height: 90px;
    width: calc(100vw - 250px);
    text-align: right;
    align-content: center;
    /* debug */
    background-color: #080b12b4;
}

.library {
    height: calc(100vh - 90px);
    overflow-y: auto;
    /* debug */
    background-color: #141922;
}

/* Footer */

#container-play {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #282828;
}